In [3]:
import numpy as np
import pandas as pd
import combat as cb

In [36]:
#df = pd.read_csv('rankMatrix.txt', sep='\t')

In [37]:
#df.head()

In [38]:
#df2 = pd.read_csv('ExprMat_rma.csv')

In [39]:
#df2.head()

In [40]:
#df3 =pd.read_csv('cmap/cmap_build02.volume1of7/myAnnot.xls',sep='\t')

In [41]:
#df3.head(20)

In [42]:
df1 = pd.read_csv('cmap_build02.volume1of7/614615111406/ExprMat_rma_614615111406.csv', sep=',')

In [43]:
df1.head()

,Unnamed: 0,614615111406.A01.CEL,614615111406.A02.CEL,614615111406.A03.CEL,614615111406.A04.CEL,614615111406.A05.CEL,614615111406.A06.CEL,614615111406.A07.CEL,614615111406.A08.CEL,614615111406.A09.CEL,...,614615111406.H03.CEL,614615111406.H04.CEL,614615111406.H05.CEL,614615111406.H06.CEL,614615111406.H07.CEL,614615111406.H08.CEL,614615111406.H09.CEL,614615111406.H10.CEL,614615111406.H11.CEL,614615111406.H12.CEL
0,1007_s_at,6.306076,6.552163,6.422616,6.571218,6.670610,6.690657,6.158504,6.378969,6.547272,...,6.231704,6.328314,6.257469,6.289511,6.386334,6.229661,6.344978,6.283387,6.191594,6.604578
1,1053_at,7.199347,7.200777,7.345029,6.723921,7.058716,7.193071,7.224932,7.241373,7.176339,...,7.199124,6.947191,7.225368,7.172307,7.201710,7.139749,7.198512,7.243935,6.965363,6.995467
2,117_at,5.376993,5.403883,5.425258,5.412750,5.326335,5.267829,5.323736,5.386450,5.320827,...,5.281195,5.431734,5.358441,5.245522,5.428828,5.396185,5.468460,5.258504,5.392919,5.424509
3,121_at,7.263090,7.436624,7.401567,7.118254,7.544809,7.518370,7.190336,7.211324,7.442084,...,7.247357,7.255877,7.164826,7.329620,7.271929,7.119343,6.963884,7.155686,7.091683,7.634572
4,1255_g_at,3.309611,3.221523,3.439271,3.405418,3.417316,3.364671,3.186808,3.493382,3.259353,...,3.233777,3.261955,3.091864,3.234060,3.315475,3.293737,3.213790,3.137190,3.296827,3.246687

In [44]:
df1.shape

(22283, 92)

In [45]:
df2 = pd.read_csv('cmap_build02.volume1of7/622623112706/ExprMat_rma_622623112706.csv', sep=',')

In [46]:
df2.head()

,Unnamed: 0,622623112706.A01.CEL,622623112706.A02.CEL,622623112706.A03.CEL,622623112706.A05.CEL,622623112706.A06.CEL,622623112706.A12.CEL,622623112706.B01.CEL,622623112706.B02.CEL,622623112706.B03.CEL,...,622623112706.H03.CEL,622623112706.H04.CEL,622623112706.H05.CEL,622623112706.H06.CEL,622623112706.H07.CEL,622623112706.H08.CEL,622623112706.H09.CEL,622623112706.H10.CEL,622623112706.H11.CEL,622623112706.H12.CEL
0,1007_s_at,6.299123,6.220120,6.307102,6.115693,6.240061,6.355163,6.297932,6.159785,6.097847,...,6.268992,6.196235,6.266143,6.210591,6.203459,6.122938,6.258176,6.218873,6.314755,6.197138
1,1053_at,6.645112,6.615556,6.665117,6.657200,6.612730,6.858298,6.808376,6.753302,6.800124,...,6.576081,6.659398,6.523047,6.714026,6.631705,6.792330,6.785845,6.751896,6.805677,6.824847
2,117_at,5.284134,5.391690,5.320264,5.202388,5.193766,5.259181,5.022105,4.966807,5.263624,...,5.053108,5.194528,5.136893,5.182225,5.313906,5.242319,5.317651,5.163676,5.215240,5.074600
3,121_at,7.086426,7.184301,6.678852,7.098543,7.153736,7.005734,6.916723,7.059340,7.064868,...,7.112501,6.851772,7.081667,7.091422,7.225801,7.088398,6.917593,7.207629,7.134357,7.045440
4,1255_g_at,3.137714,3.151583,3.153269,3.163815,3.306579,3.044252,3.109027,3.118916,3.115667,...,3.137541,3.030743,3.176917,3.276453,3.349522,3.123584,3.232393,3.120267,3.078272,3.205995

In [47]:
df2.shape

(22283, 58)

In [48]:
df3 = pd.read_csv('cmap_build02.volume1of7/5202764005789148112904/ExprMat_rma_5202764005789148112904.csv', sep=',')

In [49]:
df3.head()

,Unnamed: 0,5202764005789148112904.A01.CEL,5202764005789148112904.A02.CEL,5202764005789148112904.A03.CEL,5202764005789148112904.A04.CEL,5202764005789148112904.A05.CEL,5202764005789148112904.A06.CEL,5202764005789148112904.A08.CEL,5202764005789148112904.A10.CEL,5202764005789148112904.A11.CEL,...,5202764005791175120104.H01.CEL,5202764005791175120104.H02.CEL,5202764005791175120104.H03.CEL,5202764005791175120104.H05.CEL,5202764005791175120104.H07.CEL,5202764005791175120104.H08.CEL,5202764005791175120104.H09.CEL,5202764005791175120104.H10.CEL,5202764005791175120104.H11.CEL,5202764005791175120104.H12.CEL
0,1007_s_at,11.042811,10.792239,10.953898,10.933075,10.964094,10.908860,10.855166,10.451363,10.852048,...,10.954584,11.105378,11.059688,10.997726,11.032152,10.985536,10.948487,10.889633,10.585530,10.946713
1,1053_at,9.385190,9.454614,9.205553,9.498066,9.449612,9.433343,9.541415,9.458105,9.411736,...,9.048969,8.898893,9.359943,9.222610,9.101975,9.155434,9.082997,9.319093,8.940906,8.895828
2,117_at,5.719272,5.862642,6.122223,6.052822,5.798975,6.131323,6.260515,13.391698,6.785790,...,6.044570,7.330284,5.774680,5.447710,5.741797,5.842125,5.753529,5.954467,9.817369,6.322199
3,121_at,6.439006,6.604952,6.680459,6.653906,6.501995,6.438999,6.661419,6.481196,6.633246,...,6.539776,6.654288,6.710749,6.374416,6.247320,6.541575,6.614687,6.512789,6.406167,6.507464
4,1255_g_at,5.198969,5.193489,5.155168,5.213094,5.360085,5.152249,5.323488,5.060081,5.136669,...,5.086829,5.341881,5.269729,5.016945,5.071713,5.059951,5.103931,5.294584,5.186967,5.270300

In [50]:
df3.shape

(22944, 221)

In [51]:
df4 = pd.read_csv('cmap_build02.volume1of7/5500024017802120306174/ExprMat_rma_5500024017802120306174.csv', sep=',')

In [52]:
df5 = pd.read_csv('cmap_build02.volume1of7/CL2004060801/ExprMat_rma_CL2004060801.csv', sep=',')

In [53]:
df6 = pd.read_csv('cmap_build02.volume1of7/EC2003090/ExprMat_rma_EC2003090.csv', sep=',')

In [54]:
df_1of7 = pd.merge(df1,df2, how='outer', on='Unnamed: 0')

In [55]:
df_1of7 = pd.merge(df_1of7,df3, how='outer', on='Unnamed: 0')
df_1of7 = pd.merge(df_1of7,df4, how='outer', on='Unnamed: 0')
df_1of7 = pd.merge(df_1of7,df5, how='outer', on='Unnamed: 0')
df_1of7 = pd.merge(df_1of7,df6, how='outer', on='Unnamed: 0')

In [56]:
df_1of7.head()

,Unnamed: 0,614615111406.A01.CEL,614615111406.A02.CEL,614615111406.A03.CEL,614615111406.A04.CEL,614615111406.A05.CEL,614615111406.A06.CEL,614615111406.A07.CEL,614615111406.A08.CEL,614615111406.A09.CEL,...,EC2005030721AA.CEL,EC2005033008AA.CEL,EC2005033010AA.CEL,EC2005033011AA.CEL,EC2005033012AA.CEL,EC2005061002AA.CEL,EC2005061004AA.CEL,EC2005081602AA.CEL,EC2005081604AA.CEL,EC2005081605AA.CEL
0,1007_s_at,6.306076,6.552163,6.422616,6.571218,6.670610,6.690657,6.158504,6.378969,6.547272,...,9.582282,8.687449,8.686713,8.489783,8.645481,8.810809,8.737325,7.666821,7.583361,7.754632
1,1053_at,7.199347,7.200777,7.345029,6.723921,7.058716,7.193071,7.224932,7.241373,7.176339,...,7.540415,7.198333,7.092719,7.196455,7.199392,7.467790,7.704071,7.344719,7.523532,7.314441
2,117_at,5.376993,5.403883,5.425258,5.412750,5.326335,5.267829,5.323736,5.386450,5.320827,...,7.360632,6.655787,6.740310,6.757359,6.526670,6.541911,6.301016,6.789542,6.778316,6.731282
3,121_at,7.263090,7.436624,7.401567,7.118254,7.544809,7.518370,7.190336,7.211324,7.442084,...,8.656296,8.701044,8.680608,8.579456,8.573661,8.283951,8.261786,8.857613,8.873332,8.744386
4,1255_g_at,3.309611,3.221523,3.439271,3.405418,3.417316,3.364671,3.186808,3.493382,3.259353,...,4.261743,4.298471,4.534035,4.113074,4.303103,4.211273,4.150776,4.542368,4.248764,4.505837

In [57]:
df_1of7.shape

(22959, 1000)

In [58]:
df_1of7.dropna(how='all', inplace=True)

In [59]:
df_1of7.shape

(22959, 1000)

In [60]:
df_1of7.to_csv('1of7.csv', sep=',', index=False)

In [61]:
df1= pd.read_csv('cmap_build02.volume2of7/55000/ExprMat_rma_55000.csv', sep=',')

In [62]:
df1.shape

(22277, 688)

In [63]:
df2= pd.read_csv('cmap_build02.volume2of7/610611110806/ExprMat_rma_610611110806.csv', sep=',')

In [64]:
df2.shape

(22283, 93)

In [65]:
df3=pd.read_csv('cmap_build02.volume2of7/612613111306/ExprMat_rma_612613111306.csv', sep=',')

In [66]:
df3.shape

(22283, 97)

In [67]:
df4=pd.read_csv('cmap_build02.volume2of7/622623112706/ExprMat_rma_622623112706.csv', sep=',')

In [68]:
df4.shape

(22283, 35)

In [69]:
df5=pd.read_csv('cmap_build02.volume2of7/640641112706/ExprMat_rma_640641112706.csv', sep=',')

In [70]:
df5.shape

(22283, 92)

In [71]:
df_2of7 = pd.merge(df1,df2, how='outer', on='Unnamed: 0')

In [72]:
df_2of7 = pd.merge(df_2of7,df3, how='outer', on='Unnamed: 0')
df_2of7 = pd.merge(df_2of7,df4, how='outer', on='Unnamed: 0')
df_2of7 = pd.merge(df_2of7,df5, how='outer', on='Unnamed: 0')

In [73]:
df_2of7.head()

,Unnamed: 0,5500024024213121906558.A01.CEL,5500024024213121906558.A02.CEL,5500024024213121906558.A03.CEL,5500024024213121906558.A04.CEL,5500024024213121906558.A05.CEL,5500024024213121906558.A06.CEL,5500024024213121906558.B01.CEL,5500024024213121906558.B02.CEL,5500024024213121906558.B04.CEL,...,640641112706.H03.CEL,640641112706.H04.CEL,640641112706.H05.CEL,640641112706.H06.CEL,640641112706.H07.CEL,640641112706.H08.CEL,640641112706.H09.CEL,640641112706.H10.CEL,640641112706.H11.CEL,640641112706.H12.CEL
0,1007_s_at,10.669355,10.346496,10.593716,10.652184,10.238187,10.492961,10.440889,10.566114,10.433844,...,6.432351,6.440869,6.223304,6.337289,6.265042,6.516364,6.434294,6.376994,6.448655,6.332017
1,1053_at,8.592836,8.396591,8.421771,8.435450,8.643573,8.614349,8.682551,8.505525,8.650547,...,7.006792,6.363834,6.922145,7.007094,6.988465,7.024420,6.931623,6.957871,7.092781,6.965751
2,117_at,4.473752,4.482585,4.371718,4.350173,4.406067,4.559158,4.337538,4.539895,4.566847,...,5.968722,5.777437,5.887731,6.022145,6.035841,6.306104,6.164001,6.058920,5.926363,5.976278
3,121_at,7.052179,7.103314,6.936423,6.957646,6.936999,6.809612,6.925974,7.072635,6.942865,...,7.232337,7.210395,7.126016,7.281347,7.273087,7.207821,7.417285,7.159619,7.411255,7.481071
4,1255_g_at,4.157902,4.124172,4.146273,4.157075,4.052211,4.066344,4.212725,4.098806,4.129357,...,3.329346,3.341801,3.281879,3.322401,3.277874,3.241005,3.276019,3.234171,3.370207,3.291493

In [74]:
df_2of7.dropna(how='all', inplace=True)

In [75]:
df_2of7.to_csv('2of7.csv', sep=',', index=False)

In [76]:
df_3of7 = pd.read_csv('cmap_build02.volume3of7/ExprMat_rma.csv', sep=',')

In [77]:
df_3of7.dropna(how='all', inplace=True)

In [78]:
df_3of7.to_csv('3of7.csv', sep=',', index=False)

In [79]:
df_4of7=pd.read_csv('cmap_build02.volume4of7/ExprMat_rma.csv', sep=',')

In [80]:
df_4of7.dropna(how='all', inplace=True)

In [81]:
df_4of7.to_csv('4of7.csv', sep=',', index=False)

In [82]:
df_5of7=pd.read_csv('cmap_build02.volume5of7/ExprMat_rma.csv', sep=',')

In [83]:
df_5of7.dropna(how='all', inplace=True)

In [84]:
df_5of7.to_csv('5of7.csv', sep=',', index=False)

In [85]:
df_6of7=pd.read_csv('cmap_build02.volume6of7/ExprMat_rma.csv', sep=',')

In [86]:
df_6of7.dropna(how='all', inplace=True)

In [87]:
df_6of7.to_csv('6of7.csv', sep=',', index=False)

In [88]:
df_7of7=pd.read_csv('cmap_build02.volume7of7/ExprMat_rma.csv', sep=',')

In [89]:
df_7of7.dropna(how='all', inplace=True)

In [90]:
df_7of7.to_csv('7of7.csv', sep=',', index=False)

In [91]:
df = pd.merge(df_1of7,df_2of7, how='outer', on='Unnamed: 0')

In [92]:
df = pd.merge(df,df_3of7, how='outer', on='Unnamed: 0')
df = pd.merge(df,df_4of7, how='outer', on='Unnamed: 0')
df = pd.merge(df,df_5of7, how='outer', on='Unnamed: 0')
df = pd.merge(df,df_6of7, how='outer', on='Unnamed: 0')
df = pd.merge(df,df_7of7, how='outer', on='Unnamed: 0')

In [93]:
df.shape

(22959, 7039)

In [94]:
df.head()

,Unnamed: 0,614615111406.A01.CEL,614615111406.A02.CEL,614615111406.A03.CEL,614615111406.A04.CEL,614615111406.A05.CEL,614615111406.A06.CEL,614615111406.A07.CEL,614615111406.A08.CEL,614615111406.A09.CEL,...,5500024053146032309538.H03.CEL,5500024053146032309538.H04.CEL,5500024053146032309538.H05.CEL,5500024053146032309538.H06.CEL,5500024053146032309538.H07.CEL,5500024053146032309538.H08.CEL,5500024053146032309538.H09.CEL,5500024053146032309538.H10.CEL,5500024053146032309538.H11.CEL,5500024053146032309538.H12.CEL
0,1007_s_at,6.306076,6.552163,6.422616,6.571218,6.670610,6.690657,6.158504,6.378969,6.547272,...,10.093299,10.169864,10.046022,9.968989,9.059068,8.519363,8.976554,8.972687,8.842102,8.941973
1,1053_at,7.199347,7.200777,7.345029,6.723921,7.058716,7.193071,7.224932,7.241373,7.176339,...,7.513048,7.977839,7.949867,7.833377,7.429663,7.602050,7.390952,7.686918,7.657401,7.694528
2,117_at,5.376993,5.403883,5.425258,5.412750,5.326335,5.267829,5.323736,5.386450,5.320827,...,4.597168,4.320406,4.122600,4.366291,4.564518,4.111030,4.330090,4.411710,4.550833,4.124992
3,121_at,7.263090,7.436624,7.401567,7.118254,7.544809,7.518370,7.190336,7.211324,7.442084,...,5.493358,5.673354,5.744762,5.709307,5.379940,5.527693,5.707850,5.562302,5.799540,5.736865
4,1255_g_at,3.309611,3.221523,3.439271,3.405418,3.417316,3.364671,3.186808,3.493382,3.259353,...,3.479941,3.587450,3.605234,3.496712,3.693177,3.477116,3.708055,3.473336,3.519174,3.752809

In [95]:
df.to_csv('cmap_merged.csv', sep=',', index=False)

In [2]:
df = pd.read_csv('cmap_merged.csv', sep=',')

In [3]:
lst = []
lst.append('Unnamed: 0')
for col in df.columns:
    if col != 'Unnamed: 0':
        lst.append(col.split('.')[0]+'.'+col.split('.')[1])
df.columns = lst

In [4]:
df.set_index('Unnamed: 0', inplace=True)

In [5]:
df.head()

,614615111406.A01,614615111406.A02,614615111406.A03,614615111406.A04,614615111406.A05,614615111406.A06,614615111406.A07,614615111406.A08,614615111406.A09,614615111406.A10,...,5500024053146032309538.H03,5500024053146032309538.H04,5500024053146032309538.H05,5500024053146032309538.H06,5500024053146032309538.H07,5500024053146032309538.H08,5500024053146032309538.H09,5500024053146032309538.H10,5500024053146032309538.H11,5500024053146032309538.H12
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1007_s_at,6.306076,6.552163,6.422616,6.571218,6.670610,6.690657,6.158504,6.378969,6.547272,6.591370,...,10.093299,10.169864,10.046022,9.968989,9.059068,8.519363,8.976554,8.972687,8.842102,8.941973
1053_at,7.199347,7.200777,7.345029,6.723921,7.058716,7.193071,7.224932,7.241373,7.176339,7.157851,...,7.513048,7.977839,7.949867,7.833377,7.429663,7.602050,7.390952,7.686918,7.657401,7.694528
117_at,5.376993,5.403883,5.425258,5.412750,5.326335,5.267829,5.323736,5.386450,5.320827,5.412780,...,4.597168,4.320406,4.122600,4.366291,4.564518,4.111030,4.330090,4.411710,4.550833,4.124992
121_at,7.263090,7.436624,7.401567,7.118254,7.544809,7.518370,7.190336,7.211324,7.442084,7.439414,...,5.493358,5.673354,5.744762,5.709307,5.379940,5.527693,5.707850,5.562302,5.799540,5.736865
1255_g_at,3.309611,3.221523,3.439271,3.405418,3.417316,3.364671,3.186808,3.493382,3.259353,3.432399,...,3.479941,3.587450,3.605234,3.496712,3.693177,3.477116,3.708055,3.473336,3.519174,3.752809

In [9]:
#lst

In [128]:
meta = pd.read_excel('cmap_instances_02.xlsx')

In [7]:
meta.head()

,instance_id,batch_id,cmap_name,INN1,concentration (M),duration (h),cell2,array3,perturbation_scan_id,vehicle_scan_id4,scanner,vehicle,vendor,catalog_number,catalog_name
0,1,1,metformin,INN,1.000000e-05,6.0,MCF7,HG-U133A,EC2003090503AA,EC2003090502AA,HP GeneArray Scanner,medium,Sigma-Aldrich,D5035,"1,1-dimethylbiguanide hydrochloride"
1,2,1,metformin,INN,1.000000e-05,6.0,MCF7,HG-U133A,EC2003090504AA,EC2003090502AA,HP GeneArray Scanner,medium,Sigma-Aldrich,D5035,"1,1-dimethylbiguanide hydrochloride"
2,3,1,metformin,INN,1.000000e-07,6.0,MCF7,HG-U133A,EC2003090505AA,EC2003090502AA,HP GeneArray Scanner,medium,Sigma-Aldrich,D5035,"1,1-dimethylbiguanide hydrochloride"
3,4,1,metformin,INN,1.000000e-03,6.0,MCF7,HG-U133A,EC2003090506AA,EC2003090502AA,HP GeneArray Scanner,medium,Sigma-Aldrich,D5035,"1,1-dimethylbiguanide hydrochloride"
4,21,2,phenformin,INN,1.000000e-05,6.0,MCF7,HG-U133A,EC2003091104AA,EC2003091102AA,HP GeneArray Scanner,medium,Sigma-Aldrich,P7045,phenformin hydrochloride

In [8]:
meta.shape

(6109, 15)

In [129]:
meta.set_index('perturbation_scan_id', inplace=True)

In [134]:
in_both = meta.index.intersection(df_for_cambat.columns)

In [137]:
df_for_cambat = df_for_cambat[in_both]

In [33]:
df.to_csv('cmap_merged_for_combat.txt', sep='\t', index=False)

In [139]:
meta = meta.ix[df_for_cambat.columns]

In [13]:
meta.shape

(5121, 14)

In [14]:
df.shape

(22959, 5121)

In [140]:
meta_for_combat = pd.DataFrame(columns=['Array name', 'Sample name', 'Batch'])

In [141]:
meta_for_combat['Array name'] = meta.index
meta_for_combat['Sample name'] = meta.index
meta_for_combat['Batch'] = meta['batch_id'].values

In [142]:
meta_for_combat.shape

(5121, 3)

In [143]:
meta_for_combat.head()

         Array name       Sample name Batch
0  614615111406.A01  614615111406.A01   614
1  614615111406.A02  614615111406.A02   614
2  614615111406.A03  614615111406.A03   614
3  614615111406.A04  614615111406.A04   614
4  614615111406.A05  614615111406.A05   614

In [144]:
meta_for_combat.to_csv('meta_for_combat.txt', sep='\t', index=False)

In [15]:
meta.head()

,instance_id,batch_id,cmap_name,INN1,concentration (M),duration (h),cell2,array3,vehicle_scan_id4,scanner,vehicle,vendor,catalog_number,catalog_name
perturbation_scan_id,,,,,,,,,,,,,,
614615111406.A01,1399,614,isoniazid,INN,2.920000e-05,6.0,HL60,HG-U133A,.H01.G02.E03.D04.B05.A06,GS3000,DMSO,Prestwick Chemical,161,Isoniazid [54-85-3]
614615111406.A02,1400,614,trichostatin A,NaN,1.000000e-07,6.0,HL60,HG-U133A,.H01.G02.E03.D04.B05.A06,GS3000,DMSO,Sigma-Aldrich,T8552,"Trichostatin A, from Streptomyces sp."
614615111406.A03,1401,614,tranexamic acid,INN,2.540000e-05,6.0,HL60,HG-U133A,.H01.G02.E03.D04.B05.A06,GS3000,DMSO,Prestwick Chemical,171,Tranexamic acid [1197-18-8]
614615111406.A04,1402,614,ampyrone,NaN,1.960000e-05,6.0,HL60,HG-U133A,.H01.G02.E03.D04.B05.A06,GS3000,DMSO,Prestwick Chemical,181,Ampyrone [83-07-8]
614615111406.A05,1403,614,midodrine,INN,1.380000e-05,6.0,HL60,HG-U133A,.H01.G02.E03.D04.B05.A06,GS3000,DMSO,Prestwick Chemical,191,Midodrine hydrochloride [3092-17-9]

In [39]:
batch_c_df = cb.combat(df.values, meta['batch_id'])

/Users/moshesilverstein/Desktop/cmap/combat.py:79: FutureWarning: iterkv is deprecated and will be removed in a future release, use ``iteritems`` instead.
  drop_cols = [cname for cname, inter in  ((model == 1).all()).iterkv() if inter == True]
found 215 batches
found 0 numerical covariates...
found 0 categorical variables:
Standardizing Data across genes.
/Users/moshesilverstein/anaconda/lib/python3.5/site-packages/numpy/core/numeric.py:190: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  a = empty(shape, dtype, order)
Fitting L/S model and finding priors
/Users/moshesilverstein/Desktop/cmap/combat.py:107: VisibleDeprecationWarning: non integer (and non boolean) array-likes will not be accepted as indices in the future
  delta_hat.append(s_data[batch_idxs].var(axis=1))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [47]:
meta['batch_id'] =

TypeError: only length-1 arrays can be converted to Python scalars

In [40]:
batch_c_df.head(10)

,614615111406.A01,614615111406.A02,614615111406.A03,614615111406.A04,614615111406.A05,614615111406.A07,614615111406.A08,614615111406.A09,614615111406.A10,614615111406.A11,...,5500024053146032309538.H02,5500024053146032309538.H03,5500024053146032309538.H04,5500024053146032309538.H05,5500024053146032309538.H06,5500024053146032309538.H08,5500024053146032309538.H09,5500024053146032309538.H10,5500024053146032309538.H11,5500024053146032309538.H12
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1007_s_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1255_g_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1316_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1320_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1405_i_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#len(meta['batch_id'].unique())

In [117]:
df_for_cambat = pd.read_csv('cmap_merged_for_combat.csv', sep='\t')

In [119]:
df_for_cambat.head()

,614615111406.A01,614615111406.A02,614615111406.A03,614615111406.A04,614615111406.A05,614615111406.A07,614615111406.A08,614615111406.A09,614615111406.A10,614615111406.A11,...,5500024053146032309538.H02,5500024053146032309538.H03,5500024053146032309538.H04,5500024053146032309538.H05,5500024053146032309538.H06,5500024053146032309538.H08,5500024053146032309538.H09,5500024053146032309538.H10,5500024053146032309538.H11,5500024053146032309538.H12
0,6.306076,6.552163,6.422616,6.571218,6.670610,6.158504,6.378969,6.547272,6.591370,6.490582,...,9.577625,10.093299,10.169864,10.046022,9.968989,8.519363,8.976554,8.972687,8.842102,8.941973
1,7.199347,7.200777,7.345029,6.723921,7.058716,7.224932,7.241373,7.176339,7.157851,7.063520,...,7.639439,7.513048,7.977839,7.949867,7.833377,7.602050,7.390952,7.686918,7.657401,7.694528
2,5.376993,5.403883,5.425258,5.412750,5.326335,5.323736,5.386450,5.320827,5.412780,5.427513,...,4.344815,4.597168,4.320406,4.122600,4.366291,4.111030,4.330090,4.411710,4.550833,4.124992
3,7.263090,7.436624,7.401567,7.118254,7.544809,7.190336,7.211324,7.442084,7.439414,7.506526,...,5.497867,5.493358,5.673354,5.744762,5.709307,5.527693,5.707850,5.562302,5.799540,5.736865
4,3.309611,3.221523,3.439271,3.405418,3.417316,3.186808,3.493382,3.259353,3.432399,3.390120,...,3.938975,3.479941,3.587450,3.605234,3.496712,3.477116,3.708055,3.473336,3.519174,3.752809

In [120]:
df_for_cambat.shape

(22959, 5121)

In [122]:
df_for_cambat.dropna(how='any', inplace=True)

In [123]:
df_for_cambat.shape

(22268, 5121)

In [124]:
df_for_cambat.head()

,614615111406.A01,614615111406.A02,614615111406.A03,614615111406.A04,614615111406.A05,614615111406.A07,614615111406.A08,614615111406.A09,614615111406.A10,614615111406.A11,...,5500024053146032309538.H02,5500024053146032309538.H03,5500024053146032309538.H04,5500024053146032309538.H05,5500024053146032309538.H06,5500024053146032309538.H08,5500024053146032309538.H09,5500024053146032309538.H10,5500024053146032309538.H11,5500024053146032309538.H12
0,6.306076,6.552163,6.422616,6.571218,6.670610,6.158504,6.378969,6.547272,6.591370,6.490582,...,9.577625,10.093299,10.169864,10.046022,9.968989,8.519363,8.976554,8.972687,8.842102,8.941973
1,7.199347,7.200777,7.345029,6.723921,7.058716,7.224932,7.241373,7.176339,7.157851,7.063520,...,7.639439,7.513048,7.977839,7.949867,7.833377,7.602050,7.390952,7.686918,7.657401,7.694528
2,5.376993,5.403883,5.425258,5.412750,5.326335,5.323736,5.386450,5.320827,5.412780,5.427513,...,4.344815,4.597168,4.320406,4.122600,4.366291,4.111030,4.330090,4.411710,4.550833,4.124992
3,7.263090,7.436624,7.401567,7.118254,7.544809,7.190336,7.211324,7.442084,7.439414,7.506526,...,5.497867,5.493358,5.673354,5.744762,5.709307,5.527693,5.707850,5.562302,5.799540,5.736865
4,3.309611,3.221523,3.439271,3.405418,3.417316,3.186808,3.493382,3.259353,3.432399,3.390120,...,3.938975,3.479941,3.587450,3.605234,3.496712,3.477116,3.708055,3.473336,3.519174,3.752809

In [70]:
df_for_cambat.columns[5120] == meta_for_combat['Array name'][5120]

True

In [125]:
meta_for_combat.shape

NameError: name 'meta_for_combat' is not defined

In [60]:
lst = []
for a in meta_for_combat['Batch']:
    a = int(a)
    lst.append(a)
meta_for_combat['Batch'] = lst

In [61]:
batch_c_df = cb.combat(df_for_cambat, meta_for_combat['Batch'])

/Users/moshesilverstein/Desktop/cmap/combat.py:79: FutureWarning: iterkv is deprecated and will be removed in a future release, use ``iteritems`` instead.
  drop_cols = [cname for cname, inter in  ((model == 1).all()).iterkv() if inter == True]
found 215 batches
found 0 numerical covariates...
found 0 categorical variables:
Standardizing Data across genes.
/Users/moshesilverstein/anaconda/lib/python3.5/site-packages/numpy/core/numeric.py:190: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  a = empty(shape, dtype, order)
Fitting L/S model and finding priors
Finding parametric adjustments
/Users/moshesilverstein/Desktop/cmap/combat.py:158: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  sum2 = ((sdat - np.dot(g_new.reshape((g_new.shape[0], 1)), np.ones((1, sdat.shape[1])))) ** 2).sum(axis=1)

Adjusting data

In [63]:
batch_c_df.head()

,614615111406.A01,614615111406.A02,614615111406.A03,614615111406.A04,614615111406.A05,614615111406.A07,614615111406.A08,614615111406.A09,614615111406.A10,614615111406.A11,...,5500024053146032309538.H02,5500024053146032309538.H03,5500024053146032309538.H04,5500024053146032309538.H05,5500024053146032309538.H06,5500024053146032309538.H08,5500024053146032309538.H09,5500024053146032309538.H10,5500024053146032309538.H11,5500024053146032309538.H12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
batch_c_df.shape

(22959, 5121)

In [4]:
#rank_df = pd.read_csv('rankMatrix.txt', sep='\t')

In [5]:
#rank_df.head()

,probe_id,1,2,3,4,21,22,23,61,121,...,7551,7552,7553,7554,7555,7556,7557,7558,7559,Unnamed: 6101
0,1007_s_at,6432,12201,5085,7854,2100,4118,5129,3003,5414,...,6422,6363,8174,8215,18915,7063,6620,17845,4489,NaN
1,1053_at,4817,15753,17671,6825,14301,19613,4922,5466,1837,...,19964,6165,6225,6731,2641,1801,752,1108,873,NaN
2,117_at,21798,17152,21366,21892,7585,728,1923,10639,1974,...,11529,12283,14820,14093,12097,12033,12947,8753,10361,NaN
3,121_at,3435,1669,2628,4541,2834,4562,16875,5107,19426,...,19828,21102,9260,10601,18445,2854,20629,17235,20262,NaN
4,1255_g_at,7647,2382,4808,13994,13436,8442,13401,12433,11159,...,14608,13048,15238,15535,12493,10398,13352,11639,13511,NaN

In [6]:
#rank_df.shape

(22283, 6102)

In [90]:
probes_to_genes = pd.read_csv('Probes2Genes.csv', sep=',')

In [91]:
probes_to_genes.head()

   Unnamed: 0    PROBEID   SYMBOL
0           1  1007_s_at     DDR1
1           2  1007_s_at  MIR4640
2           3    1053_at     RFC2
3           4     117_at    HSPA6
4           5     121_at     PAX8

In [92]:
probes_to_genes.shape

(25190, 3)

In [93]:
probes_to_genes = probes_to_genes.drop_duplicates(subset='PROBEID', keep=False)

In [94]:
probes_to_genes.shape

(21684, 3)

In [95]:
probes_to_genes.set_index('PROBEID', inplace=True)

In [96]:
probes_to_genes.dropna(inplace=True)

In [97]:
probes_to_genes.shape

(19861, 2)

In [38]:
# i = 1
# for index in rank_df.index:
#     index_pub = rank_df.ix[index, 'probe_id']
#     print('\r', str(i)+' Out of '+ str(len(rank_df.index)), end=' ', flush=True)
#     if index_pub in probes_to_genes.index:
#         rank_df.ix[index, 'probe_id'] = probes_to_genes.ix[index_pub, 'SYMBOL']
#     else:
#         rank_df.ix[index, 'probe_id'] = np.nan
#     i += 1

 22283 Out of 22283

In [21]:
index_pub

'1007_s_at'

In [39]:
#rank_df.head()

,probe_id,1,2,3,4,21,22,23,61,121,...,7551,7552,7553,7554,7555,7556,7557,7558,7559,Unnamed: 6101
0,NaN,6432,12201,5085,7854,2100,4118,5129,3003,5414,...,6422,6363,8174,8215,18915,7063,6620,17845,4489,NaN
1,RFC2,4817,15753,17671,6825,14301,19613,4922,5466,1837,...,19964,6165,6225,6731,2641,1801,752,1108,873,NaN
2,HSPA6,21798,17152,21366,21892,7585,728,1923,10639,1974,...,11529,12283,14820,14093,12097,12033,12947,8753,10361,NaN
3,PAX8,3435,1669,2628,4541,2834,4562,16875,5107,19426,...,19828,21102,9260,10601,18445,2854,20629,17235,20262,NaN
4,GUCA1A,7647,2382,4808,13994,13436,8442,13401,12433,11159,...,14608,13048,15238,15535,12493,10398,13352,11639,13511,NaN

In [109]:
#up = pd.read_csv('msigdb_gene_sets/msigdb_up_mapped_to_HG_U133A.gmt', header=None)

In [110]:
#up.head()

In [111]:
# build up library

up = pd.read_csv('msigdb_gene_sets/msigdb_up_mapped_to_HG_U133A.gmt', header=None)

i = 1

lib_up = pd.DataFrame()

for index in up.index:
    lst = []
    print('\r', str(i)+' Out of '+ str(len(up.index)), end=' ', flush=True)
    
    lst.append('_'.join(up.ix[index, 0].split('\t')[0].split('_'))[0:-3])
    
    genes = up.ix[index, 0].split('\t')[2:]
    
    for gene in genes:
        if gene in probes_to_genes.index and probes_to_genes.ix[gene, 'SYMBOL'] != 'NaN':
            lst.append(probes_to_genes.ix[gene, 'SYMBOL'])

    temp = pd.DataFrame(data=lst)
    lib_up = pd.concat([lib_up, temp.T])
    i += 1

lib_up.replace(np.nan, ' ', inplace=True)

lib_up.to_csv('cmap_up.gmt', sep='\t', header=None, index=False)

 312 Out of 312

In [112]:
# build up library

down = pd.read_csv('msigdb_gene_sets/msigdb_dn_mapped_to_HG_U133A.gmt', header=None)

i = 1

lib_down = pd.DataFrame()

for index in down.index:
    lst = []
    print('\r', str(i)+' Out of '+ str(len(down.index)), end=' ', flush=True)
    
    lst.append('_'.join(down.ix[index, 0].split('\t')[0].split('_'))[0:-3])
    
    genes = down.ix[index, 0].split('\t')[2:]
    
    for gene in genes:
        if gene in probes_to_genes.index and probes_to_genes.ix[gene, 'SYMBOL'] != 'NaN':
            lst.append(probes_to_genes.ix[gene, 'SYMBOL'])

    temp = pd.DataFrame(data=lst)
    lib_down = pd.concat([lib_down, temp.T])
    i += 1

lib_down.replace(np.nan, ' ', inplace=True)

lib_down.to_csv('cmap_down.gmt', sep='\t', header=None, index=False)

 312 Out of 312

In [113]:
lib_up.head()

,0,1,2,3,4,5,6,7,8,9,...,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762
0,PENG_GLUTAMINE,NFIX,GNB3,SLC30A9,TOP2A,PQBP1,PMAIP1,CAMK1,PLXNB2,CIRBP,...,,,,,,,,,,
0,CMV_HCMV_TIMECOURSE_10HRS,FOSB,EFNB2,SFPQ,SFPQ,EFNB2,RBBP6,RBBP6,RSRP1,RSL1D1,...,,,,,,,,,,
0,MOREAUX_TACI_HI_VS_LOW,HNRNPDL,CACNA1I,MBP,ADAM11,ULBP1,TACR1,RPL18,RNASE1,BEX1,...,,,,,,,,,,
0,HDACI_COLON_BUT16HRS,PDP1,FUCA1,SAT1,RHBDF1,CLU,CLU,MT1G,MT1H,FLNB,...,,,,,,,,,,
0,AS3_HEK293,MT1X,HMOX1,UAP1,DNAJB1,MT1G,FOSL1,DNAJB1,MT1H,SLC30A1,...,,,,,,,,,,

In [114]:
lib_down.head()

,0,1,2,3,4,5,6,7,8,9,...,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882
0,PENG_GLUTAMINE,FDFT1,HNRNPL,IDH1,GSPT1,SLC29A1,LAMB3,TFRC,AMD1,SNRPA1,...,,,,,,,,,,
0,CMV_HCMV_TIMECOURSE_10HRS,PLIN2,TLE4,STARD13,XPC,KLHL9,TLE4,KIF11,PEX11B,TPM2,...,,,,,,,,,,
0,MOREAUX_TACI_HI_VS_LOW,UPF3A,EDRF1,SMARCA4,C1QBP,KRIT1,PAPOLA,RAN,DARS,ILF3,...,,,,,,,,,,
0,HDACI_COLON_BUT16HRS,ABCA1,HMGB1,NUCKS1,DARS,FDPS,NAP1L1,SNTB1,CAMK2N1,DLG5,...,,,,,,,,,,
0,AS3_HEK293,PTPN11,MYC,INSIG1,JAK1,WNT5A,TFAP4,CENPE,PTPN11,TPR,...,,,,,,,,,,

In [115]:
#down.head()